################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShoulderCam/v16/ipch
/.vs/ShoulderCam/v16
